<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/libros.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
     <header>
        <div class="inicio">
            <div class="icon__menu">
                <i class="fa-solid fa-bars" style="color: aliceblue;" id="btn_open"></i>
            </div>

            <img style="margin-left: 50px;" class="logo" src="./img/logoSinFondo.png" alt="">
            <h1 class="title mt-2" style="font-size: 40px; color: #21B573;">Almacen de Narrativas</h1>
        </div>
       
    </header>

    <div class="cuerpo">

    <div class="titulo">
        <h2>Bienvenido a mi pagina web</h2>
    </div>

    <div class="Botones">
        <div id="gestionPr">
            <button type="button" class="btn btn-outline-secondary" onclick="window.location.href = 'GstLibros';">Gestion de Libros</button>

        </div>
        <div id="registro">
            <button type="button" class="btn btn-outline-secondary">Historial</button>
        </div>
        <div id="gestionUser">
            <button type="button"  class="btn btn-outline-secondary">Gestion de Usuarios</button>
        </div>
    </div>
    </div>
</body>
</html>