html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

header {
    width: calc(100% - 20px);
    height: 80px;
    background-color: #022010;
    font-family: 'Lemon', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
    padding-right: 80px;
}

.inicio {
    display: flex;
    align-items: center;
}

.cuerpo {
    margin-top: 150px;
}

.titulo {
    display: flex;
    justify-content: center;
}

.Botones {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.sidebar {
    margin-top: 80px;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-y: auto;
    border-right: 1px solid #e5e5e5;
}

.content-page {
    margin-left: 250px;
    padding: 20px;
    margin-top: 150px;
}

.menu {
    margin-top: 140px;
   
}

.menu-item {
    padding: 10px 20px;
    margin-bottom: 50px; /* Agrega separación entre cada ítem */
}

.menu-title
{
    margin-bottom: 50px;
    font-size: 28px;
}

.menu-item,
.menu-title {
    padding: 10px 20px;
    margin-bottom: 20px; /* Cambié el valor a 20px para que sea consistente */
}
